name: Deploy efRouting Technical Test
on:
  push:
    branches: [ main ]
    paths:
      - .github/workflows
      - 'lambda/**'
  workflow_dispatch:
jobs:
  build-deploy-python-lambda:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: ./lambda
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Export requirements.txt
        run: poetry export -f requirements.txt --output requirements.txt --without-hashes

      - name: Setup AWS SAM
        uses: aws-actions/setup-sam@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: SAM Build
        run: sam build --use-container
      - name: SAM Deploy
        run: sam deploy --no-confirm-changeset \
          --no-fail-on-empty-changeset \
          --stack-name spacex-etl-stack \
          --capabilities CAPABILITY_IAM \
          --resolve-s3